@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --color-alpha: #7F669D;
    --color-bravo: #BA94D1 ;
    --color-charlie: #DEBACE;
    --color-delta: #FBFACD;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --color-alpha: #FB773C;
    --color-bravo: #EB3678 ;
    --color-charlie: #DEBACE;
    --color-delta: #4F1787;
  }
}
html {
  font-family: var(--font-montserrat);
}
h1 {
  font-family: var(--font-archivo);
}

@layer base {
  * {
    @apply border-border tracking-wider;
  }
  body {
    @apply bg-background text-foreground;
  }
  .h1-bold {
    @apply text-[4.688rem] font-bold leading-[140%] tracking-wider;
  }

  .h1-semibold {
    @apply text-[2.25rem] font-semibold leading-[140%] tracking-wider;
  }

  .h2-bold {
    @apply text-[1.875rem] font-bold leading-[140%] tracking-wider;
  }

  .h3-bold {
    @apply text-[1.5rem] font-bold leading-[140%] tracking-wider;
  }

  .base-semibold {
    @apply text-base font-semibold leading-[140%] tracking-wider;
  }
  .padding {
    @apply py-[50px] md:py-[100px]
  }

}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(/wave.svg) repeat-x;
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; */
  position: absolute;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 4s ease infinite;
  opacity: 1;
}
.transparent-background {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}
.brand-name::before {
  content: attr(data-brand-name);
  position: absolute;
  inset: 0;
  text-align: center;
  font-size: 27rem;
}
.product-slogan::before  {
  content: attr(data-brand-name);
  position: absolute;
  inset: 0;
  text-align: center;
  font-size: 27rem;
}

.bar {
  overflow-x: auto; /* Allows horizontal scrolling */
  scrollbar-width: thin; /* For Firefox, makes the scrollbar thinner */
  scrollbar-color: transparent transparent; /* For Firefox, custom scrollbar colors */
}
 
/* For WebKit browsers (Chrome, Safari, Edge) */
.bar::-webkit-scrollbar {
  height: 8px; /* Adjust scrollbar height for horizontal scrolling */
}
 
.bar::-webkit-scrollbar-track {
  background: transparent; /* The track is transparent */
}
 
.bar::-webkit-scrollbar-thumb {
  @apply bg-primary; /* The scrollbar thumb color (more visible) */
  border-radius: 10px; /* Rounds the edges of the scrollbar */
  border: 2px solid transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.active-color {
  outline: 2px solid black;
}
/*OIS delete on swipe  */
.ios-swiper ul {
  margin-top: 11px;
  list-style: none;
}
.ios-swiper .li {
    position: relative;
    border-right: 1px solid red;
}

.delete-btn {
  z-index: 1;
  position: absolute;
  height: calc(100% - 2px);
  width: 70px;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background-color: red;
}
    
.msg-container { 
  position: relative;  
  z-index: 999; 
  display: flex;
  align-items: center;
  background-color: white;
}

&:hover {
  cursor: pointer;
}

.user-icon {
  display: block;
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  pointer-events: none;
}
    
.message-text {
  flex: 1;
  margin-left: 12px;
  padding: 8px 0;
}
  
/*OIS delete on swipe  */
@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}
